* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  position: relative;
  min-height: 100%;
  background: #fff;
}

body {
  margin: 0 auto;
  color: $color-gray;
  font-family: $font-family-base;
  font-size: $font-size-base;
  position: relative;
  height: 100%;
  background: #F3F4F7;
}

.wrapper {
  overflow: hidden;
}

.visual-hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.container {
  width: 1500px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 1099px) {
    width: 100%;
  }

  @media #{$tablet} {
    width: 100%;
  }
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1em;
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: bold;
  color: #3a3a3a;
}

h1, .h1 {
  font-size: 36px;
  line-height: 1em;
  color: #3a3a3a;
  text-transform: none;
  margin-top: 30px;

  @media #{$tablet} {
    font-size: 30px;
  }
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}


// Links

a {
  outline: none;
  color: inherit;
  text-decoration: $link-decoration;
  -webkit-text-decoration-skip: objects;
  transition: all .3s ease-in-out;

  &:hover {
    text-decoration: $link-hover-decoration;
  }
}


.full_width {
  width: 100vw;
  margin-left: calc((100vw - 1200px) / 2 * -1);

  @media #{$tablet} {
    width: 100%;
    margin: 0;
  }
}

.only_mobile,
.mobile_only {
  display: none;

  @media #{$tablet} {
    display: block;
  }
}

.clearfix {
  clear: both;
}

input[type="text"],
input[type="password"],
select,
textarea {
  border: 1px solid #d3d3d3;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  padding: 0 15px;
  line-height: 36px;
  height: 36px;
  font-size: 18px;
  font-family: $font-family-base;
  color: #000;
  outline: none;
  @include transition(all .3s linear);

  &.input_error {
    border-color: #f00;
  }

  &:focus {
    border-color: $color-green;
  }
}

li {
  list-style: none;
}

.h1-block {
  h1 {
    border-bottom: 1px solid #C9CDD9;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 1.5em;
    &:first-letter {
      color: #D77E1A;
    }
    &:before {
      content: "";
      position: absolute;
      background: url(/images/h1.svg) center right no-repeat;
      bottom: 0;
      height: 5px;
      width: 100%;
      z-index: 2;
    }
   }
}
@media screen and (max-width: 1024px) {
  .h1-block {
    h1 {
      border: none;
      padding: 0 5px;
      font-size: 50px;
      &:before {
        content: "";
        position: absolute;
        background: url(/images/h1.svg) 0% center no-repeat;
        bottom: 10px;
        height: 5px;
        width: calc(100% - 15px);
        z-index: 3;
        left: 5px;
      }
    }
  }
}

.no-scroll {
  overflow: hidden !important;
}


textarea {
  padding: 10px 15px;
  line-height: 1.2em;
}

.starrequired {
  color: #f00;
}


.privancy_text {
  margin-bottom: 20px;
  font-size: .8em;
}

@media screen and (min-width: 1299px) and (max-width: 1500px) {
  .container {
    width: 1300px;
  }
}